* {
    //box-sizing: border-box;
    margin: 0;
}

.header img {
    float: left;
    height: 80%;
}

.header h1 {
    color: rgba(255,0,176,1);
    position: relative;
    top: 10%;
    width: 99%;
    left: 1%;
    //font-family: "Brush Script MT", cursive;
    font-family: "Times New Roman";
}

.header {
    background-color: rgba(240,240,240,1);
    position: sticky;
    top: 0;
    height: 15%;
    width: 100%;
    z-index: 1;
    padding: 0px;
    margin: 0px;
}

.subheader {
    text-align: center;
    margin: 1%;
    padding: 0px;
}

.column {
    float: left;
    width: 25%;
    
}

h2 {
    text-align: center;
    padding-top: 1%;
    padding-bottom: 0%;
    font-weight: bold;
    width: 100%;
}

hr {
    border: 1px dotted rgba(255,0,176,0.5);
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

table {
    border: 1px solid rgba(255,0,176,1);
    border-radius: 24px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-size: 100%;
    padding: 0%;
    padding-top: 4%;
    padding-bottom: 4%;
}

th {
    //background-color: rgba(255,0,176,1);
    //border-left:1px solid rgba(255,0,176,1);
    //border-right:1px solid rgba(255,0,176,1);
    //border-radius: 24px;
    //font-weight: normal;
    font-family: "Arial";
}

tr.twoonly>td {
    padding-top: 3%;
    padding-bottom: 3%;
}

caption {
    color: rgba(0,0,0,1);
    font-weight: bold;
    text-align: center;
    caption-side: top;
}

.manualInput {
    color: rgba(255,0,176,1);
    border: 1px solid rgba(0,0,0,0.25);
    font-size: 100%;
    width: 92%;
    border-radius: 12px;
    font-weight: bold;
    padding-left: 5%;
}

.autoInput {
    color: rgba(255,0,176,1);
    background-color: rgba(240,240,240,1);
    border:1px solid rgba(0,0,0,0.25);
    font-size: 100%;
    width: 92%;
    border-radius: 12px;
    font-weight: bold;
    padding-left: 4%;
    padding-right: 0%;
}

input {
    color: inherit;
    border: 0px solid rgba(255,0,0,1);
    font-size: 100%;
    width: 90%;
    outline: none;
}

div {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
}

.plus {
    background-color: rgba(0,255,0,1);
    color: rgba(0,0,0,1);
    font-weight: bold;
}

.minus {
    background-color: rgba(255,0,0,1);
    color: rgba(255,255,255,1);
    font-weight: bold;
}

.split {
    text-align: left;
    width: auto;
    transform : scale(1.33);
}

.disabled {
    color: grey;
    font-style: italic;
}

.fp-tableCell {
    display: table-cell;
    vertical-align: top;
}

.summary {
    text-align: middle;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4%;
    margin-bottom: 4%;
    width: 60%;
}

li {
    margin-top: 5%;
    margin-bottom: 5%;
}

.lidisabled {
    display: none;
}

.cldisabled {
    display: none;
}
