#header {
    grid-area: head;
    /* children */
    display: grid;
    grid-template-columns: auto 1fr 1.95fr;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    padding: 0.15rem;

    /* style */
    background-color: rgba(240,240,240,1);
    box-shadow: 0px -5px 15px 0px rgba(250, 250, 250, 1),
                0px 5px 15px 0px rgba(75, 75, 75, 1);
    margin-bottom: 0.75rem;
}

#header > *, h2 {
    filter: drop-shadow(0.075rem 0.075rem 0 rgba(140,140,140,1));
}

#header > h1, #select2-i18n-toggler-container, #select2-i18n-toggler-results > li {
    /* style */
    font-family: TITLE;
    vertical-align: middle;
    display: block;
}

#header > h1, #select2-i18n-toggler-container {
    color: rgba(255,0,176,1) !important;
    padding-top: 0.2rem;
}

#i18nArrow {
    margin-left: -4.75rem;
    margin-right: 4.75rem;
    //border-width: 5px 4px 0 4px;
}

#logo {
    /* style */
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    display: block;
    cursor: pointer;
}

.buttons {
    /* children */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    margin: 0 2rem 0 2rem;
}

#playButtons, #infoButtons, #urlButtons {
    /* children */
    display: flex;
    flex-direction: row;

    /* style */
    cursor: pointer;
}

#play, #play2, #infoB, #infoB2, #urlB, #urlB2 {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
}


