* {
    box-sizing: border-box;
    margin: 0;
    font-size: 1.3vw;
}

body {
    /* sets the page */
    display: grid;
    grid-template-areas: "head head"
                         "inv out"
                         "inv chart";
    grid-template-columns: 1fr 4.1fr;
    grid-template-rows: auto 1fr 1fr;

    /* style */
    background-color: rgba(255,0,176,0.15);
    height: 100vh;
}

#header {
    grid-area: head;
    /* children */
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    align-items: center;
    align-content: center;
    gap: 0.25rem;
    padding: 0.15rem;

    /* style */
    background-color: rgba(240,240,240,1);
    box-shadow: 0px 25px 13px -20px rgba(175, 175, 175, 1);
    margin-bottom: 0.25rem;
}

#header > *, h2 {
    filter: drop-shadow(calc(0.075 * 1rem) calc(0.075 * 1rem) 0 rgba(140,140,140,1));
}

#header > h1 {
    /* style */
    color: rgba(255,0,176,1);
    font-family: TITLE;
    vertical-align: middle;
    display: block;
    padding-top: 0.2rem;
}

#logo {
    /* style */
    width: calc(2 * 1rem);
    vertical-align: middle;
    display: block;
    cursor: pointer;
}

.buttons {
    /* children */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    margin: 0 2rem 0 2rem;
}

#playButtons {
    /* children */
    display: flex;
    flex-direction: row;

    /* style */
    cursor: pointer;
}

#play, #play2 {
    width: calc(2 * 1rem);
}

#investment {
    grid-area: inv;
    /* children */
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 0.25rem auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    align-items: center;
    gap: 0.5rem;

    /* style */
    padding: 1.5rem;
    padding-top: 0;
    padding-left: 1rem;
}

#investment > h2 {
    grid-area: 1 / 1 / 2 / 3;
}

#investment > hr {
    grid-area: 2 / 1 / 3 / 3;
}

#investment > .title, #investment > .empty {
    grid-column-start: 1;
    grid-column-end: 2;
}

#investment > .input, #investment > h3 {
    grid-column-start: 2;
    grid-column-end: 3;
}

#outcome {
    grid-area: out;
}

#investment, #outcome, #plot {
    /* style */
    background-color: rgba(240,240,240,1);
    border-radius: 2rem;
    box-shadow: -5px -5px 15px 5px rgba(250, 250, 250, 1),
                5px 5px 15px 5px rgba(75, 75, 75, 1);
    --fsize: calc(1rem / 1.25);
    margin: 0.75rem;
}

#numbers {
    /* position */
    display: grid;
    grid-template-columns: 1fr auto 1.78fr;
    gap: 0.4rem;

    /* style */
    justify-content: space-evenly;
}

#plot {
    grid-area: chart;
    /* children */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0;

    /* style */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

.protectDiv {
    /* position */
    display: flex;
    flex-direction: row;

    /* style */
    flex: 1;
}

#amountsParent {
    /* position */
    display: flex;
    flex-direction: column;

    /* style */
    flex: 1;
}

h2 {
    text-align: center;
    color: rgba(255,0,176,1);
    font-size: calc(0.95 * 1rem);
    font-family: SUB;
}

hr {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    height: 1px;
    border: 0;
    background-color: rgba(200,200,200,1);
}

h3 {
    text-align: center;
    font-weight: normal;
    font-size: calc(0.7 * 1rem);
    font-family: KEYS;
}

.line {
  border: 0.1rem solid rgba(200, 200, 200, 1);
}

.prices, .amount, .interest {
    /* position of children */
    display: grid;
    grid-template-columns: auto 1fr;
    padding-bottom: 0.4rem;
    gap: 0.4rem;
    align-items: center;

    /* style */
    margin: 0.5rem;
    margin-top: 0;
}

.title {
    /* position */
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: beginning;

    /* style */
    font-size: 0.7rem;
    min-width: calc(2.32 * var(--fsize));
    line-height: calc(1.44 * var(--fsize));
    font-family: KEYS;
}

#sync {
    /* style */
    cursor: pointer;
    margin-bottom: -0.1rem;
    margin-top: -0.4rem;
}

.rotate {
    animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.input {
    /* position */
    display: grid;
    grid-template-columns: 0.66rem 1fr;
    gap: 0.25rem;
    align-items: center;

    /* style */
    border: 1px;
    background-color: white;
    border-style: inset;
    border-radius: 12px;
    border-color: rgba(200,200,200,0.25);
    box-shadow: inset 0.1em 0.1em rgba(150, 150, 150, 1),
             0 0 0 2px rgb(255,255,255),
             0.3em 0.3em 0.5em rgba(0,0,0,0.3);
    color: rgba(255,0,176,1);
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0;
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.auto {
    /* style */
    background-color: rgba(140,140,140,1);
    color: white;
    box-shadow: inset 0.1em 0.1em rgba(50, 50, 50, 1),
             0 0 0 2px rgb(255,255,255),
             0.3em 0.3em 0.5em rgba(0,0,0,0.3);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.inputtext {
    /* style */
    font-size: 100%;
    min-width: 0;
    height: 94%;
    border: none;
    outline: none;
    color: inherit;
    background-color: inherit;
    background-clip: content-box;
}

.plus {
    color: rgba(0,255,0,1);
}

.minus {
    color: rgba(255,0,0,1);
}

#amounts, #values {
    /* position */
    display: grid;
    gap: 0.4rem;

    /* style */
    padding-bottom: 0.4rem;
    justify-content: space-evenly;
}

#amounts{
    grid-template-columns: 1fr 1fr;
}

#values {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.verticalHR {
    width: 0.05rem;
    height: 90%;
    background-color: rgba(200,200,200,1);
}

.table {
    /* position */
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    /* style */
    padding: 0.5rem;
}

.best {
    border: 0.25rem solid rgba(0, 255, 0, 0.25);
    border-radius: 24px;
    padding: 0.25rem;
}

.shadow {
    filter: opacity(15%);
}

.titles {
    /* position */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    /* style */
    padding-bottom: 0.4rem;
}

.titles > h3:nth-child(2) {
    padding-top: 0.1rem;
}

.hidden {
    display: none !important;
}

.almostHidden {
    opacity: 0;
    line-height: 0;
}
