#outcome {
    grid-area: out;
    display: grid;
    grid-template-columns: auto repeat(2, 1fr) auto repeat(5, 1fr);
    grid-template-rows: 1fr 0.25rem repeat(4, 1fr) 0 1fr 0;
    grid-auto-flow: column;
    gap: 0.3rem 0rem;
    grid-template-areas: "o-h2   o-h2   o-h2   o-h2  o-h2   o-h2  o-h2   o-h2   o-h2"
                         "o-hr   o-hr   o-hr   o-hr  o-hr   o-hr  o-hr   o-hr   o-hr"
                         "...    o-LMA  o-LMA  o-AVS o-V    o-V   o-V    o-V    o-V"
                         "...    o-a    o-ai   o-AVS o-i    o-h   o-h1   o-lm   o-lmi"
                         "o-aT1  o-T1a  o-T1ai o-AVS o-T1i  o-T1h o-T1hD o-T1lm o-T1lmi"
                         "o-aT2  o-T2a  o-T2ai o-AVS o-T2i  o-T2h o-T2hT o-T2lm o-T2lmi"
                         "o-aD   o-Da   o-Dai  o-AVS o-Di   o-Dh  ...... o-Dlm  o-Dlmi"
                         "o-aTo  ....   .....  o-AVS o-Toi  o-Toh ...... o-Tolm o-Tolmi"
                         ".....  ....   .....  ..... .....  ..... ......  ...... .......";

    /* style */
    justify-content: space-evenly;
}

#outcome > h2 {
    grid-area: o-h2;
}

#outcome > hr:nth-of-type(1) {
    grid-area: o-hr;
}

#amountsTitles > div:nth-of-type(1) {
    grid-area: o-aT1;
}

#amountsTitles > div:nth-of-type(2) {
    grid-area: o-aT2;
}

#amountsTitles > div:nth-of-type(3) {
    grid-area: o-aD;
}

#amountsTitles > div:nth-of-type(4) {
    grid-area: o-aTo;
}

#amountsParent > h3 {
    grid-area: o-LMA;
}

#fAmounts > h3 {
    grid-area: o-a;
}

#fAmounts > div:nth-of-type(1) {
    grid-area: o-T1a;
}

#fAmounts > div:nth-of-type(2) {
    grid-area: o-T2a;
}

#fAmounts > div:nth-of-type(3) {
    grid-area: o-Da;
}

#fAmountsI > h3 {
    grid-area: o-ai;
}

#fAmountsI > div:nth-of-type(1) {
    grid-area: o-T1ai;
}

#fAmountsI > div:nth-of-type(2) {
    grid-area: o-T2ai;
}

#fAmountsI > div:nth-of-type(3) {
    grid-area: o-Dai;
}

#values > h3 {
    grid-area: o-V;
}

#valuesTitles {
    display: none;
}

#valuesTitles2 {
    display: none;
}

#valuesTitles3 {
    display: none;
}

#initialValues > h3 {
    grid-area: o-i;
}

#initialValues > div:nth-of-type(1) {
    grid-area: o-T1i;
}

#initialValues > div:nth-of-type(2) {
    grid-area: o-T2i;
}

#initialValues > div:nth-of-type(3) {
    grid-area: o-Di;
}

#initialValues > div:nth-of-type(4) {
    grid-area: o-Toi;
}

#holding > h3 {
    grid-area: o-h;
}

#holding > div:nth-of-type(1) {
    grid-area: o-T1h;
}

#holding > div:nth-of-type(2) {
    grid-area: o-T2h;
}

#holding > div:nth-of-type(3) {
    grid-area: o-Dh;
}

#holding > div:nth-of-type(4) {
    grid-area: o-Toh;
}

#holding1 > h3:nth-of-type(1) {
    grid-area: o-h1;
}

#holding1 > h3:nth-of-type(2) {
    display: none;
}

#holding1 > h3:nth-of-type(3) {
    display: none;
}

#holding1 > h3:nth-of-type(4) {
    display: none;
}

#holding1 > div:nth-of-type(1) {
    grid-area: o-T1hD;
}

#holding1 > div:nth-of-type(2) {
    grid-area: o-T2hT;
}

#mining > h3 {
    grid-area: o-lm;
}

#mining > div:nth-of-type(1) {
    grid-area: o-T1lm;
}

#mining > div:nth-of-type(2) {
    grid-area: o-T2lm;
}

#mining > div:nth-of-type(3) {
    grid-area: o-Dlm;
}

#mining > div:nth-of-type(4) {
    grid-area: o-Tolm;
}

#miningI > h3 {
    grid-area: o-lmi;
}

#miningI > div:nth-of-type(1) {
    grid-area: o-T1lmi;
}

#miningI > div:nth-of-type(2) {
    grid-area: o-T2lmi;
}

#miningI > div:nth-of-type(3) {
    grid-area: o-Dlmi;
}

#miningI > div:nth-of-type(4) {
    grid-area: o-Tolmi;
}

#AVS {
    grid-area: o-AVS;

    /* style */
    width: 0.02rem;
    height: 90%;
    background-color: rgba(200,200,200,1);
}

#best, #best1 {
    display: none;
    border: 0.25rem solid rgba(0, 255, 0, 0.25);
    border-radius: 1rem;
    box-shadow: -5px -5px 15px 2px rgba(250, 250, 250, 1),
                5px 5px 15px 2px rgba(75, 75, 75, 1);
    align-self: normal;
    justify-self: normal;
}

.best-c {
    display: initial !important;
    grid-area: 4 / 5 / 9 / 6;
}

.best-fh {
    display: initial !important;
    grid-area: 4 / 6 / 9 / 7;
}

.best-fh1 { 
    display: initial !important;
    grid-area: 4 / 7 / 5 / 8;
}

.best-fhDFI {
    display: initial !important;
    grid-area: 5 / 7 / 6 / 8;
}

.best-fhT {
    display: initial !important;
    grid-area: 6 / 7 / 7 / 8;
}

.best-f {
    display: initial !important;
    grid-area: 4 / 8 / 9 / 9;
}

.best-fi {
    display: initial !important;
    grid-area: 4 / 9 / 9 / 10;
}

.shadow > * {
    filter: opacity(15%);
}

.plus {
    color: rgba(0,255,0,1);
}

.minus {
    color: rgba(255,0,0,1);
}
