@media only screen and (max-width: 900px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr 1fr 1fr;
        grid-template-areas: "head"
                             "inv"
                             "out"
                             "chart";
    }

    #investment {
        grid-template-columns: minmax(3rem, auto) 1fr 3rem auto 1fr;
        grid-template-rows: auto 0.25rem auto auto auto auto auto auto auto auto auto;
        grid-auto-flow: column;
        gap: 1rem 0.5rem;
        margin: 1.5rem;
    }

    #investment > h2 {
        grid-area: 1 / 1 / 2 / 6;
    }

    #investment > hr {
        grid-area: 2 / 1 / 3 / 6;
    }

    #investment > div:nth-of-type(n+3):nth-of-type(-n+4) > .empty,
    #investment > div:nth-of-type(n+3):nth-of-type(-n+4) > .title {
        grid-column-start: 4;
        grid-column-end: 5;
    }

    #investment > div:nth-of-type(n+3):nth-of-type(-n+4) > h3,
    #investment > div:nth-of-type(n+3):nth-of-type(-n+4) > .input {
        grid-column-start: 5;
        grid-column-end: 6;
    }

    #outcome {
        grid-template-columns: minmax(3rem, auto) 1fr 1fr;
        grid-template-rows: auto 0.25rem auto auto auto auto auto auto auto auto auto auto;
        gap: 1rem 0.5rem;

        /* style */
        margin: 1.5rem;
    }

    #outcome > h2 {
    grid-area: 1 / 1 / 2 / 4;
    }

    #outcome > hr:nth-of-type(1) {
        grid-area: 2 / 1 / 3 / 4;
    }
    
    /*#amountsTitles > div:nth-of-type(1) {
        grid-area: 3 / 1 / 4 / 2;
    }*/

    #amountsTitles > div:last-child {
        display: none !important;
    }

    /*#amountsParent > h3 {
        grid-area: 3 / 2 / 4 / 4;
    }

    #fAmounts > h3 {
        grid-area: 4 / 2 / 5 / 3;
    }

    #fAmounts > div {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #fAmountsI > h3 {
        grid-area: 4 / 3 / 5 / 4;
    }

    #fAmountsI > div {
        grid-column-start: 3;
        grid-column-end: 4;
    }*/
    
    #AVS {
        grid-area: 7 / 1 / 8 / 4;
        /* style */
        width: 100%;
        height: 0.02rem;
    }

    #values > h3 {
        grid-area: 8 / 2 / 9 / 4;
    }

    #valuesTitles {
        display: contents;
    }
    
    /*#valuesTitles > div {
        grid-column-start: 1;
        grid-column-end: 2;
    }*/

    #initialValues > h3 {
        grid-area: 9 / 2 / 10 / 3;
    }

    #initialValues > div {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #holding > h3 {
        grid-area: 9 / 3 / 10 / 4;
    }

    #holding > div {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #mining > h3 {
        grid-area: 13 / 2 / 14 / 3;
    }

    #mining > div {
        grid-column-start: 2;
        grid-column-end: 3;
    }

    #miningI > h3 {
        grid-area: 13 / 3 / 14 / 4;
    }

    #miningI > div {
        grid-column-start: 3;
        grid-column-end: 4;
    }

    #plot {
        margin: 1.5rem;
    }

    @media only screen and (max-width: 600px) {
        #values {
            grid-template-columns: 1fr 1fr;
        }
    }
}
