.select2-container--default {
    /* style */
    background-color: inherit;
    color: inherit;
    font: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0;
    border-radius: 12px;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: inherit;
    background-color: rgba(255,0,176,0.3) !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding: 0;
    line-height: 1.44rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 1.44rem;
}

.select2-results__options::-webkit-scrollbar {
    width: 16px;
    background-clip: padding-box;
}

.select2-results__options::-webkit-scrollbar-thumb {
    background-clip: padding-box;
    background-color: rgba(255,0,176,1);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
}

.select2-container--default .select2-selection--single {
    border: 0px;
    display: inline;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
    color: inherit;
    background-color: inherit;
}

#select2-CurrencyValue-container {
    color: rgba(255,0,176,1);
}

.select2-container .select2-results__option.optInvisible {
    display: none;
}

.select2-results__options {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,0,176,1);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: rgba(255,0,176,1) transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent rgba(255,0,176,1) transparent;
}
